.sidebar {
  width: 240px;
  min-height: 100vh;
  position: sticky;
  top: 0;
}

.sidebar .nav-link {
  padding: 10px 15px;
  border-radius: 5px;
}

.sidebar .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.addCursor {
  cursor: pointer;
}

.content {
  background: #f5f5f5;
  min-height: 100vh;
}


.content .header {
  background-color: #fff;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}